@model PRN232_Su25_Readify_Web.Models.Auth.LoginDtoRequest
<div class="page-content">
    <!-- inner page banner -->
    @await Html.PartialAsync("_AuthPageTemplate", "Login")
    <!-- inner page banner End-->
    <!-- contact area -->
    <section class="content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content">
                            <h4>NEW CUSTOMER</h4>
                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            <a class="btn btn-primary btnhover m-r5 button-lg radius-no" asp-controller="auth" asp-action="register">CREATE AN ACCOUNT</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content nav">
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                            }
                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                            }
                            <form asp-controller="Auth" asp-action="Login" id="login" method="post" class="tab-pane active col-12">
                                <h4 class="text-secondary">LOGIN</h4>
                                <p class="font-weight-600">If you have an account with us, please log in.</p>
                                <div class="mb-4">
                                    <label asp-for="Email" value="@Model.Email" class="label-title">E-MAIL *</label>
                                    <input asp-for="Email" name="Email" id="loginEmail" class="form-control" placeholder="Your Email Id" type="email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Password" class="label-title">PASSWORD *</label>
                                    <input asp-for="Password" id="loginPassword" name="Password" class="form-control " placeholder="Type Password" type="password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="text-left">
                                    <button class="btn btn-primary btnhover me-2">login</button>
                                    <a asp-controller="auth" asp-action="ResetPassword" class="m-l5"><i class="fas fa-unlock-alt"></i> Forgot Password</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </section>
    <!-- contact area End-->
</div>