@model PRN232_Su25_Readify_Web.Models.Auth.ForgotDtoRequest
<div class="page-content">
    <!-- inner page banner -->
    @await Html.PartialAsync("_AuthPageTemplate", "ForgotPassword")
    <!-- inner page banner End-->
    <!-- contact area -->
    <section class="content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content">
                            <h4>NEW CUSTOMER</h4>
                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            <a class="btn btn-primary btnhover m-r5 button-lg radius-no" asp-controller="auth" asp-action="register">CREATE AN ACCOUNT</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="login-area">
                        <div class="tab-content nav">
                            @if (TempData["ErrorMessage"] != null)
                            {
                                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                            }
                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                            }
                            <form asp-action="ResetPassword" asp-controller="auth" id="forgot-password" class="tab-pane active  col-12">
                                <h4 class="text-secondary">FORGET PASSWORD ?</h4>
                                <p class="font-weight-600">We will send you an email to reset your password. </p>
                                <div class="mb-3">
                                    <label for="Email" class="label-title">E-MAIL *</label>
                                    <input name="Email" class="form-control" placeholder="Your Email Id" type="email">
                                </div>
                                <div class="text-left">
                                    <a class="btn btn-outline-secondary btnhover m-r10"
                                       asp-action="login" asp-controller="auth">Back</a>
                                    <button class="btn btn-primary btnhover">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </section>
    <!-- contact area End-->
</div>